<!DOCTYPE html>
<html lang="en">

<head>


  <!-- META TAGS  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="IWT_E0ucUD9bmwbE0pI9olZgomPqpYdBRlMosrSv_hc" />
  <meta name="description" content="SIET Sessional Exams ">
  <meta name="keywords"
    content="SIET Sessional exams , siet-exams,SIET Sessional Exam Papers , Shambhunath Institute of Engineering and Technology college Prayagraj , SIET College , SIET B.Tech CSE old papers, SIET previous year papers , SIET Sessional">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://siet-exams.onrender.com/static/assets/logo.png">
  <meta property="og:url" content="https://siet-exams.onrender.com/">
  <meta name="robots" content="index, follow">
  <meta name="language" content="English">

</head>


<title>SIET Sessional Exams</title>

<!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" > -->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/static/style.css" rel="stylesheet">
<link href="/static/styles.css" rel="stylesheet">
<!-- <script src="/static/script.js"></script> -->
<link rel="icon" type="image/x-icon" href="/static/assets/logo.ico">
<link rel="shortcut icon" type="image/png" href="/static/assets/logo.png">
<link rel="canonical" href="https://siet-exams.onrender.com/">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
  rel="stylesheet">

<!-- <script src="https://cdn.tailwindcss.com"></script> -->
<!-- Informer activate later  ! -->









<body>
  <!-- INFORMER ACTIVATE LATER ! -->
  <!-- <div id="notice" style="border: 2px dashed #1afdc6;" class="flex justify-between bg-[#000] text-[#fff] p-2 rounded-md shadow-md">
    <span style="font-family: monospace;font-size: 18px;text-align:justify;"><strong>Notice:</strong> Semester exams have been uploaded!</span>
    <button onclick="document.getElementById('notice').style.display='none'" class="text-2xl font-bold">&times;</button>
  </div> -->







  <header class="text-gray-400 bg-gray-900 body-font border-b-4 border-[#1afdc6]">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">

        <a href="/">
          <div id="reactor">
            <img src="/static/assets/reactor.png" loading="eager" alt="logo" height="120" width="60">
            <!-- 140v80c -->
          </div>
        </a>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg> -->
        <br>
        <!-- <span class="ml-3 text-xl">$: WELCOME .....</span> -->
        <div class="containeri">
          <span id="text"></span><span class="cursor">|</span>
        </div>
        <br>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      </nav>

      <div id="toggle-btn" title="Dark / Bright Mode" aria-label="Toggle Dark Mode">
        <img src="/static/assets/bright.svg" id="bright" alt="Bright Mode Icon">
        <img src="/static/assets/dark.svg" id="dark" alt="Dark Mode Icon">
      </div>

      <button id="feedback-btn"
        class=" flex items-center justify-center rounded-2xl text-white bg-green-500 border-0 py-3 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">
        <a href="/feedback" target="_blank"> message me !
        </a>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </header>
  <!-- HESAAAADDDDDDDDDDDEEEEEEEERRRRRRRRRRRRRR -->





  <header class="text-gray-400 bg-gray-900 body-font">

    <div class="container mx-auto flex justify-center flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <footer class="text-white-400 bg-gray-900 body-font">
          <div class="container px-5 py-8 mx-auto flex justify-center  items-center sm:flex-row flex-col">
            <a href="#" class="flex title-font font-medium items-center">
              <div class="logo">
                <img src="/static/assets/logo.png" loading="eager" alt="logo" height="60px" width="60px" id="clogo">
              </div>
              <span class="ml-3 text-xl" style="font-size:16px;text-align: left;text-transform: capitalize;">Shambhunath
                Institute of Engineering & Technology</span>
            </a><br>
            <span class="ml-3 text-xl" style="font-size: .85em;color: white;text-align: right;color: #1afdc6;">
              <pre> |  SIET  EXAMS  &copy  | </pre>
            </span>

      </a>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">




        <a href="https://instagram.com/harsh_v03" class="fa fa-facebook" target="_blank"></a>
        <a href="#" class="fa fa-twitter" target="_blank"></a>
        <a href="https://instagram.com/harsh_v03" class="fa fa-instagram" target="_blank"></a>
        <a href="https://www.linkedin.com/in/harsh-vk777" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://wa.me/+918920388443" class="fa fa-whatsapp" target="_blank"></a>
        </nav>


        <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24"> -->
        <!-- <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg> -->
        </button>
    </div>
  </header>


  <section class="text-gray-400 bg-gray-900 body-font border-b-4 border-[#1afdc6] py-10">


    <!-- 
    <p style="text-align:justify; font-family: Ubuntu Sans;font-weight:400;font-size: large;color: white;"
      class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base"> This platform has been
      created to help the
      engineering students of SIET (Shambhunath Institute of Engineering and Technology) to help students clear their
      sessional exams with good marks and achieve good internals .
      As a newbie guy I do face a lot of stress & pressure which is due to the 2 sessionals in 1 day without any
      holidays in our college and I don't want my upcoming freshers to bear the same, so use this site
      before your sessionals .

    </p> -->


    <!-- Carousel Section  -->

    <div class="container">
      <h2 class="title" style="text-align: center;margin-bottom: 18px;text-decoration: overline;  font-family:system-ui, -apple-system, Ubuntu;color: #1afdc6;font-weight:500;
">
        <pre>// CSE Saviours // </pre>
      </h2>
      <div class="marquee-container">
        <div class="marquee">
          <a href="https://www.youtube.com/@brevilearning" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/QmbPgcZhmEpSSEG5BuQQdLCVO0jR01qimLs08F49ndpXRjz1un5bE_7Gt2ISFdFmlc7sKhI3=s160-c-k-c0x00ffffff-no-rj"
              alt="BREVI " />
          </a>
          <a href="https://www.youtube.com/@GateSmashers" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/ytc/AIdro_mZfqpNqtGLksLQfMbW7UVFgub_poGNE-YU_RAoV_NdUII=s176-c-k-c0x00ffffff-no-rj-mo"
              alt="Gate Smasher" />
          </a>
          <a href="https://www.youtube.com/@CodeWithHarry" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/ytc/AIdro_kX3sdbuu3KFmRPsmlu0R5Rx_BhpxwupjtvJmkEdNfla7w=s160-c-k-c0x00ffffff-no-rj"
              alt="CodeWithHarry" />
          </a>
          <a href="https://www.youtube.com/@UniversityAcademy" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/ytc/AIdro_kurYAox-5YpLsTVvVK_6S2G1JAraSjMyfoWUzXiRvzpZ8=s160-c-k-c0x00ffffff-no-rj"
              alt="University Academy" />
          </a>
          <a href="https://www.youtube.com/@gatewayclasses" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/54oexlqBswqqqtcb3l4OiZzRyJTqXMEC2ZDc8MK6L9UBlcqqSm_uqlSCcPj3IDpF6dIBoLeE5g4=s160-c-k-c0x00ffffff-no-rj"
              alt="Gateway Classes" />
          </a>
          <a href="https://www.youtube.com/c/JennyslecturesCSIT" target="_blank">
            <img
              src="https://yt3.ggpht.com/G_0IAqOglBkQz1-AFWsxxiRrT7DjPfrQksCMs-I82D6wCOrG1PCa9LjntW9zW5TodRLccBr6ew=s176-c-k-c0x00ffffff-no-rj-mo"
              alt="Jenny's Lectures" />
          </a>
          <a href="https://www.youtube.com/@itechworldxrt" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/pBNPs1Yf1eEAvHy57ir61EEeL0XSXZRm28FP9cXfqS0PSGn8b5xhiKrYlEAKE-o27kzfF4RXPw=s160-c-k-c0x00ffffff-no-rj"
              alt="ITech World AKTU" />
          </a>
          <a href="https://www.youtube.com/@SAURABHDAHIVADKAR" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/ytc/AIdro_kXfL1dC3a1tYXXYTi0GIHlZJJtqkxmo8lhHWsaCopbwU4=s160-c-k-c0x00ffffff-no-rj"
              alt="Engineering Maths " />
          </a>
          <a href="https://www.youtube.com/@KNOWLEDGEGATE_kg" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/pFpFKk20uILknx5JnO9-LsSDh4Vs6TRum0U-iV_7AdMz-ZhlhM93JbzTIsDAGTsehuBo5IO1=s160-c-k-c0x00ffffff-no-rj"
              alt="Knowledge Gate By Sanchit Sir " />
          </a>

          <a href="https://www.youtube.com/@freecodecamp" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/ytc/AIdro_lGRc-05M2OoE1ejQdxeFhyP7OkJg9h4Y-7CK_5je3QqFI=s160-c-k-c0x00ffffff-no-rj"
              alt="Free Code Camp " />
          </a>
          <a href="https://www.youtube.com/@GeeksforGeeksVideos" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/dQfBGzscI39pcxJC7ywUkslmJZ4AHyh0eECVkbnyW4zBN1djj5TCNLXx1Pf68WqRlrzMRbjS=s160-c-k-c0x00ffffff-no-rj"
              alt="Geeks4Geeks" />
          </a>


          <!-- //duplicateb for seamless scrolling -->

          <a href="https://www.youtube.com/@brevilearning" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/QmbPgcZhmEpSSEG5BuQQdLCVO0jR01qimLs08F49ndpXRjz1un5bE_7Gt2ISFdFmlc7sKhI3=s160-c-k-c0x00ffffff-no-rj"
              alt="BREVI " />
          </a>
          <a href="https://www.youtube.com/@GateSmashers" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/ytc/AIdro_mZfqpNqtGLksLQfMbW7UVFgub_poGNE-YU_RAoV_NdUII=s176-c-k-c0x00ffffff-no-rj-mo"
              alt="Gate Smasher" />
          </a>
          <a href="https://www.youtube.com/@CodeWithHarry" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/ytc/AIdro_kX3sdbuu3KFmRPsmlu0R5Rx_BhpxwupjtvJmkEdNfla7w=s160-c-k-c0x00ffffff-no-rj"
              alt="CodeWithHarry" />
          </a>
          <a href="https://www.youtube.com/@UniversityAcademy" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/ytc/AIdro_kurYAox-5YpLsTVvVK_6S2G1JAraSjMyfoWUzXiRvzpZ8=s160-c-k-c0x00ffffff-no-rj"
              alt="University Academy" />
          </a>
          <a href="https://www.youtube.com/@gatewayclasses" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/54oexlqBswqqqtcb3l4OiZzRyJTqXMEC2ZDc8MK6L9UBlcqqSm_uqlSCcPj3IDpF6dIBoLeE5g4=s160-c-k-c0x00ffffff-no-rj"
              alt="Gateway Classes" />
          </a>
          <a href="https://www.youtube.com/c/JennyslecturesCSIT" target="_blank">
            <img
              src="https://yt3.ggpht.com/G_0IAqOglBkQz1-AFWsxxiRrT7DjPfrQksCMs-I82D6wCOrG1PCa9LjntW9zW5TodRLccBr6ew=s176-c-k-c0x00ffffff-no-rj-mo"
              alt="Jenny's Lectures" />
          </a>
          <a href="https://www.youtube.com/@itechworldxrt" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/pBNPs1Yf1eEAvHy57ir61EEeL0XSXZRm28FP9cXfqS0PSGn8b5xhiKrYlEAKE-o27kzfF4RXPw=s160-c-k-c0x00ffffff-no-rj"
              alt="ITech World AKTU" />
          </a>
          <a href="https://www.youtube.com/@SAURABHDAHIVADKAR" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/ytc/AIdro_kXfL1dC3a1tYXXYTi0GIHlZJJtqkxmo8lhHWsaCopbwU4=s160-c-k-c0x00ffffff-no-rj"
              alt="Engineering Maths " />
          </a>
          <a href="https://www.youtube.com/@KNOWLEDGEGATE_kg" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/pFpFKk20uILknx5JnO9-LsSDh4Vs6TRum0U-iV_7AdMz-ZhlhM93JbzTIsDAGTsehuBo5IO1=s160-c-k-c0x00ffffff-no-rj"
              alt="Knowledge Gate By Sanchit Sir " />
          </a>

          <a href="https://www.youtube.com/@freecodecamp" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/ytc/AIdro_lGRc-05M2OoE1ejQdxeFhyP7OkJg9h4Y-7CK_5je3QqFI=s160-c-k-c0x00ffffff-no-rj"
              alt="Free Code Camp " />
          </a>
          <a href="https://www.youtube.com/@GeeksforGeeksVideos" target="_blank">
            <img
              src="https://yt3.googleusercontent.com/dQfBGzscI39pcxJC7ywUkslmJZ4AHyh0eECVkbnyW4zBN1djj5TCNLXx1Pf68WqRlrzMRbjS=s160-c-k-c0x00ffffff-no-rj"
              alt="Geeks4Geeks" />
          </a>


        </div>
      </div>
    </div>


    <br>
    <br>

    <section class="cards-container">


      <div class="card">
        <h2>1st Year</h2>
        <p>Discover the foundation of engineering with introductory courses.</p>
        <button><a href="/1st">Exam Papers</a></button>
      </div>


      <div class="card">
        <h2>2nd Year</h2>
        <p>Dive deeper into your core subjects and practical learning and clear your basics.</p>
        <button><a href="/2nd"> Exam Papers</a></button>
      </div>


      <div class="card">
        <h2>3rd Year</h2>
        <p>Master advanced topics and prepare for internships and projects.</p>
        <button><a href="/3rd">Exam Papers</a></button>
      </div>


      <div class="card">
        <h2>4th Year</h2>
        <p>Finalize your journey with specializations and your major projects.</p>
        <button><a href="/4th">Exam Papers</a></button>
      </div>
    </section>






  </section>







  <footer class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
        <a href="#">
          <div id="footerpicbox">
            <img style="border-radius: 50%;" src="/static/assets/dev.jpg" loading="eager" alt="logo" height="120"
              width="60">
          </div>
        </a>
        <span style='font-family: Ubuntu Sans ;font-weight:600;color:#1afdc6;text-decoration: underline;'
          class="ml-3 text-xl" style="color:#1afdc6;"> Harsh </span>
      </a>
      <p style="font-family: Ubuntu mono;font-size:medium; color: white;;"
        class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"> Made with
        ❤ by Sudo © 2025
        <a href="https://www.linkedin.com/in/harsh-vk777" class="text-gray-500 ml-1" target="_blank"
          rel="noopener noreferrer" style="color:#1afdc6;"> @Harsh V.</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a href='https://github.com/sudokingpin' class="text-gray-400">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="text-xl"
            height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z">
            </path>
          </svg>
        </a>
        <a href='/' class="ml-3 text-gray-400">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
            </path>
          </svg>
        </a>
        <a href='https://instagram.com/harsh_v03' class="ml-3 text-gray-400">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a href='https://www.linkedin.com/in/harsh-vk777' class="ml-3 text-gray-400">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>


  <script src="/static/script.js"></script>
  <div id="popup-overlay" class="popup-overlay" onclick="closePopup()"></div>

</body>

</html>
