<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIET Sessional Exams</title>
</head>
<link href="/static/style.css" rel="stylesheet"> 
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>


  <header class="text-gray-400 bg-gray-900 body-font">
  
  


     <!-- <header class="text-gray-600 body-font"></header> -->
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <footer class="text-white-400 bg-gray-900 body-font">
          <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
              <a href="#" class="flex title-font font-medium items-center md:justify-start justify-center text-white">
              <img src="https://cportal-siet-in.s3.us-west-000.backblazeb2.com/company_document/002_com_doc_1612059294-29263.png" loading="eager" alt="logo" height="140" width="80">
              <span class="ml-3 text-xl">Shambhunath Institute of Engineering Technology </span></a>
        <span class="ml-3 text-xl">             SIET Sessional Papers          </span>
      </a>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">

  
      
         

        <style>

          table,
          td,
          th {
              border: 1px solid #fff;
              border-collapse: collapse;
              background-color: #a7a8a3
          }
  
  
          .fa {
              padding: 20px;
              font-size: 30px;
              width: 60px;
              text-align: center;
              text-decoration: none;
              margin: 5px 2px
          }
  
          .fa:hover {
              opacity: .7
          }
  
          .fa-facebook {
              background: #3b5998;
              color: #fff
          }
  
          .fa-linkedin {
              background: #007bb5;
              color: #fff
          }
  
          .fa-whatsapp {
              background: #05d340c8;
              color: #fff
          }
  
          .fa-youtube {
              background: #b00;
              color: #fff
          }
  
          .fa-instagram {
              background: #125688;
              color: #fff
          }
  
          .fa-twitter {
              background: #55acee;
              color: #fff
          }
      </style>
                
        <a href="hhttps://instagram.com/hasrsh_v03" class="fa fa-facebook" target="_blank"></a>
        <a href="https://www.youtube.com/channel/UCxcl2-rxL-LgrKRue-M3kOQ" class="fa fa-youtube" target="_blank"></a>
        <a href="https://twitter.com/Harsh" class="fa fa-twitter" target="_blank"></a>
        <a href="https://instagram.com/hasrsh_v03" class="fa fa-instagram" target="_blank"></a>
        <a href="https://linkedin.com/in/Harsh" class="fa fa-linkedin" target="_blank"></a>
      </nav>


        <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24"> -->
          <!-- <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg> -->
      </button>
    </div>
  </header>
  <!-- HTML !-->
  <!-- <br>
  <br> -->

  <section class="text-gray-400 bg-gray-900 body-font">

 

    <p style="text-align:justify" class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base" > This platform has been created by me to help the 
      engineering students of SIET to help students clear their sessional exams with good marks and achieve good internals . 
      As a newbie guy I do face a lot of stress & pressure which is due to the 2 sessionals in 1 day without any holidays    and I don't want my upcoming freshers to bear the same, so use this site 
      before your sessionals .
      
    </p>
    <!-- <p style="text-align:right" class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base" </p> -->
<br>
<br>

<button class="button-92" role="button">B.Tech(Ist)</button>
<br>
<br>
<p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎ </small>

  

<button class="button-85" role="button"> <a href="/s1">SESSIONAL1 (Ist Year)</a></button>
</div>
<br>
<br>

<div class="myclass" >

  <!-- <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">A picture can say a thousand words. Keeping this in mind numerous pictures have been placed on our page . Hope you Enjoy !</p> -->


  <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎ </small>
   
  <button class="button-85" role="button"><a href="/s2">SESSIONAL2 (Ist Year) </a></button>
  </div>

 
</section>



<footer class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
      <img src="/static/logo.png" loading="eager" alt="logo" height="140" width="80">
      <span class="ml-3 text-xl">Dev. Harsh</span>
    </a>
    <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"> Made with ❤️ by Sudo Corporations © 2023
      <a href="https://youtube.com/sudokingpin?sub_confirmation=1" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">@Harsh Vishwakarma</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a href='https://youtube.com/sudokingpin?sub_confirmation=1'  class="text-gray-400">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a href='https://youtube.com/sudokingpin?sub_confirmation=1' class="ml-3 text-gray-400">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a  href='https://instagram.com/hasrsh_v03' class="ml-3 text-gray-400">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a href='https://linkedin.com/Harsh' class="ml-3 text-gray-400">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
    </span>
  </div>
</footer>



</body>
</html>