<!DOCTYPE html>
<html lang="en">

<head>


  <!-- META TAGS  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="IWT_E0ucUD9bmwbE0pI9olZgomPqpYdBRlMosrSv_hc" />
  <meta name="description" content="SIET Sessional Exams ">
  <meta name="keywords"
    content="SIET Sessional exams , siet-exams,SIET Sessional Exam Papers , Shambhunath Institute of Engineering and Technology college Prayagraj , SIET College , SIET B.Tech CSE old papers, SIET previous year papers , SIET Sessional">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://siet-exams.onrender.com/static/fav.png">
  <meta property="og:url" content="https://siet-exams.onrender.com/">
  <meta name="robots" content="index, follow">
  <meta name="language" content="English">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4791369301744557"
    crossorigin="anonymous"></script>
</head>


<title>SIET Sessional Exams</title>

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/static/style.css" rel="stylesheet">
<script src="/static/script.js"></script>
<link rel="icon" type="image/x-icon" href="/static/fav.ico">
<link rel="shortcut icon" type="image/png" href="/static/fav.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="canonical" href="https://siet-exams.onrender.com/">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
  rel="stylesheet">


<body>

  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">

        <a href="/static/scripty.exe"><img src="/static/arc-removebg-preview-modified.png" loading="eager" alt="logo"
            height="140" width="80"> </a>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg> -->
        <br>
        <span class="ml-3 text-xl">$: WELCOME .....</span>
        <br>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      </nav>
      <button class="text-white bg-green-500 border-0 py-3 px-6 focus:outline-none hover:bg-green-600 rounded text-lg"><a 
          href="/feedback" target="_blank"> Feeback here </a>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </header>
  <!-- HESAAAADDDDDDDDDDDEEEEEEEERRRRRRRRRRRRRR -->


  <style>
#footerpicbox{
  border: 2px solid white;
  border-radius: 50%;

}


    body {
      font-family: 'Open Sans', sans-serif;
      font-size: 27px;
    }
  </style>
  <header class="text-gray-400 bg-gray-900 body-font">

    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <footer class="text-white-400 bg-gray-900 body-font">
          <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a href="#" class="flex title-font font-medium items-center md:justify-start justify-center text-white">
              <img src="https://fnew.oyer.in/1/company_document/002_com_doc_1612059294-29263.png" loading="eager"
                alt="logo" height="140" width="80">
              <span class="ml-3 text-xl">Shambhunath Institute of Engineering Technology </span></a>
            <span class="ml-3 text-xl"> SIET Sessional Papers </span>

      </a>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">





        <style>


.btn-title{
  font-family: ubuntu;
  font-weight: 500;
  font-style: italic;
  border: 3px solid  white;
  background-color: #dc2743;
  /* background-color:  #1afdc6; */

  padding: 7px ;
  margin-left: 20px;
  color: white;
  

}

a{

  font-family: ubuntu sans;
  font-weight: 7=500;
}
          table,
          td,
          th {
            border: 1px solid #fff;
            border-collapse: collapse;
            background-color: #a7a8a3
          }


          .fa {
            padding: 20px;
            font-size: 30px;
            width: 60px;
            text-align: center;
            text-decoration: none;
            margin: 5px 3px;
            
          }

          .fa:hover {
            opacity: .7
          }

          .fa-facebook {
            background: #3b5998;
            color: #fff
          }

          .fa-linkedin {
            background: #007bb5;
            color: #fff
          }

          .fa-whatsapp {
            background: #05d340c8;
            color: #fff
          }

          .fa-youtube {
            background: #b00;
            color: #fff
          }

          .fa-instagram {
            /* color: #fff;
              background: #e20d94cb */

            background: #f09433;
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);

          }

          .fa-twitter {
            background: #55acee;
            color: #fff
          }





      

        </style>

        <a href="https://instagram.com/harsh_v03" class="fa fa-facebook" target="_blank"></a>
        <a href="https://twitter.com/Harsh" class="fa fa-twitter" target="_blank"></a>
        <a href="https://instagram.com/harsh_v03" class="fa fa-instagram" target="_blank"></a>
        <a href="https://www.linkedin.com/in/dev-h-4ba56a229" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://wa.me/+918920388443" class="fa fa-whatsapp" target="_blank"></a>
        </nav>


        <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24"> -->
        <!-- <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg> -->
        </button>
    </div>
  </header>


  <section class="text-gray-400 bg-gray-900 body-font">



    <p style="text-align:justify; font-family: cursive;font-weight: 200;font-size: large;color: white;" class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base"> This platform has been
      created to help the
      engineering students of SIET (Shambhunath Institute of Engineering and Technology) to help students clear their
      sessional exams with good marks and achieve good internals .
      As a newbie guy I do face a lot of stress & pressure which is due to the 2 sessionals in 1 day without any
      holidays in our college and I don't want my upcoming freshers to bear the same, so use this site
      before your sessionals .

    </p>
    <br>
    <br>
<div class="yearbox">
    <button class="btn-title" role="button">B.Tech (CSE) (Ist)</button>
    <br>
    <br>
    <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
      </small>



      <button class="button-85" role="button"> <a href="/s1">Sem-I (Sessional I )</a></button>

      <br>
      <br>

    <div class="myclass">

      <!-- <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">A picture can say a thousand words. Keeping this in mind numerous pictures have been placed on our page . Hope you Enjoy !</p> -->


      <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
        </small>

        <button class="button-85" role="button"><a href="/s2">Sem-I (Sessional II) </a></button>
    </div>

    <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
      </small>


      <br>
      <button class="button-85" role="button"> <a href="/exams" target="_blank">Sem-2 (Sessional I )</a></button>

      <br>
      <br>

    <div class="myclass">


      <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
        </small>

        <button class="button-85" role="button"><a href="/exams">Sem-2( Sessional II) </a></button>
    </div>

  </div>



    <div>
      <br>
      <br>
      <button class="btn-title" role="button">B.Tech (CSE) (IInd)</button>
      <br>
      <br>
      <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
        </small>



        <button class="button-85" role="button"> <a href="/s5">Sem-3 (Sessional I )</a></button>

        <br>
        <br>

      <div class="myclass">



        <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
          </small>

          <button class="button-85" role="button"><a href="/s6">Sem-3 (Sessional II) </a></button>
      </div>

      <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
        </small>


        <br>
        <button class="button-85" role="button"> <a href="/">Sem-4 (Sessional I )</a></button>

        <br>
        <br>

      <div class="myclass">



        <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
          </small>

          <button class="button-85" role="button"><a href="/">Sem-4( Sessional II) </a></button>
      </div>

      <div>
        <br>
        <br>
        <button class="btn-title" role="button">B.Tech (CSE)(IIIrd)</button>
        <br>
        <br>
        <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
          </small>



          <button class="button-85" role="button"> <a href="/">Sem-5 (Sessional I )</a></button>

          <br>
          <br>

        <div class="myclass">
          <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
            <small>‎ </small>
            <button class="button-85" role="button"><a href="/">Sem-5 (Sessional II) </a></button>
        </div>

        <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
          </small>


          <br>
          <button class="button-85" role="button"> <a href="/">Sem-6 (Sessional I )</a></button>

          <br>
          <br>

        <div class="myclass">
          <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
            <small>‎ </small>
            <button class="button-85" role="button"><a href="/">Sem-6( Sessional II) </a></button>
        </div>

        <!-- IV -->
        <br>
        <br>
        <button class="btn-title" role="button">B.Tech (CSE)(IVth)</button>
        <br>
        <br>
        <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
          </small>



          <button class="button-85" role="button"> <a href="/">Sem-7(Sessional I )</a></button>

          <br>
          <br>

        <div class="myclass">
          <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
            <small>‎ </small>
            <button class="button-85" role="button"><a href="/">Sem-7 (Sessional II) </a></button>
        </div>

        <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><small>‎
          </small>


          <br>
          <button class="button-85" role="button"> <a href="/">Sem-8 (Sessional I )</a></button>

          <br>
          <br>

        <div class="myclass">



          <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
            <small>‎ </small>

            <button class="button-85" role="button"><a href="/">Sem-8( Sessional II) </a></button>
        </div>



      </div>

  </section>



  <footer class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
        <a href="/static/scr.cmd">
          <div id="footerpicbox">
          <img style="border-radius: 50%;" src="/static/vegeta.jpg" loading="eager" alt="logo" height="120"
            width="60">
          </div>
          </a>
        <span style='font-family: cursive;font-weight:200;color: white;text-decoration: underline;' class="ml-3 text-xl"> Harsh </span>
      </a>
      <p style="font-family: cursive;font-size:medium; color: white;;"    class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"> Made with
        ❤️ by Sudo Corporations © 2023
        <a href="https://www.linkedin.com/in/dev-h-4ba56a229" class="text-gray-500 ml-1" target="_blank"
          rel="noopener noreferrer"> @Harsh V.</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a href='https://github.com/sudokingpin' class="text-gray-400">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="text-xl"
            height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z">
            </path>
          </svg>
        </a>
        <a href='/' class="ml-3 text-gray-400">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
            </path>
          </svg>
        </a>
        <a href='https://instagram.com/harsh_v03' class="ml-3 text-gray-400">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a href='https://www.linkedin.com/in/dev-h-4ba56a229' class="ml-3 text-gray-400">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>



</body>

</html>