<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESSIONAL1</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
          <footer class="text-white-400 bg-gray-900 body-font">
            <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">

    

</head>
<body>
<h1>Engineering Maths </h1>

    <iframe src="https://drive.google.com/file/d/1m23McQ2ReyEyOFtH48Wgsd_v4WQpSNbL/preview" width="200" height="180" allow="autoplay"></iframe>  </body>
<p>Hope this helkps !</p>
    </html>

    
</body>
</html>